body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    margin: 0;
    padding: 0;
    width: 210px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

}

.grid{
    display: flex;
}
#nav_header .icon {
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    padding-right: 5px;
}

#header .title {
    display: flex;
    flex-direction: column;
    justify-content: right;
    float: right;
}
#navbar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.navlinks {
    padding-top: 50px;
}

#navbar a:hover:not(.active) {
    background-color: rgb(4, 127, 241);
    color: rgb(247, 231, 17);
}

#main-doc {
    margin-left: 210px;
    padding: 1px 16px;
    height: 1000px;
}

#main-doc header{
    font-size: 30px;
    font-style: bold;
    font-weight: 900;
}

#main-doc h3{
    font-weight: 700;
    font-size: 25px;
}

#main-doc p,ul{
    font-size: 18px;
}

code{
    display: block;
    white-space: pre;
    line-height: 3;
    text-align: left;
    padding: 15px;
    margin: 10px;
    word-break: normal;
    word-wrap: normal;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(209, 209, 209);
    
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
    #navbar ul {
    border: 1px solid;
    height: 207px;
    }

    #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    }

    #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
    margin-left: -10px;
    }

    code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
    }
}


