body {
    min-width: 29px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 220px;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

.navdiv i{
    float: left;
    margin-top: 20px;
    padding-left:5px;
}

.navdiv h1{
    float:right;
    margin-bottom: 10px;
    margin-right: 5px;
}

nav ul {
    text-decoration: none;
    font-size: 19px;
    display: block;
}

nav li {
    width: 100%;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-radius: 1px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom-color: grey;
    
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

main {
    margin-left: 210px;
    padding: 20px;
}